# Python / Flask Backend
/backend/venv/
/backend/.env
/backend/.env.*
/backend/logs/
/backend/*.log

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# React Frontend with Vite
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage/
/frontend/dist/
/frontend/dist-ssr/
/frontend/build/
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*
/frontend/*.local

# React Backend
**/node_modules/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm Configuration
**/.npmrc

# Environment Files
**/.env
.env
**/.env.*
.env.local
**/.env.development
.env.development.local
.env.test.local
**/.env.production
.env.production.local

# Log Files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*